/* Services Section */
.services {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.services h3 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

.services h2 {
    color: white;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 46px;
}

/* Services Grids */
.services-grids {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.s-1 {
    background-image: url(../images/Development\ &\ IT.jpg);
}

.s-2 {
    background-image: url(../images/Education.jpg);
}

.s-3 {
    background-image: url(../images/Import\ Export.jpg);
}

.s-4 {
    background-image: url(../images/Design\ &\ Creative.jpg);
}

.s-5 {
    background-image: url(../images/Sales\ &\ Marketing.jpg);
}

.s-6 {
    background-image: url(../images/Custom\ Print\ Solutions.jpg);
}

/* Services grid */
.service-grid {
    height: 400px;
    width: 22%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 20px 30px;
    transition: all 0.3s ease;
    box-shadow: inset 0 80px 80px 10px rgba(0, 0, 0, 1.6);
}

.service-grid h4 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
}

.service-grid:hover {
    transform: translateY(-8px);
    /* move slightly up */
    box-shadow: inset 0 80px 80px -30px rgba(0, 0, 0, 0.9);
}



/* Media Queries Css Started Here */

/* Media Query for 499px to 768px Devices */
@media (min-width: 399px) and (max-width: 768px) {
    .service-grid{
        width: 47%;
        height: 200px;
    }

    .service-grid h4{
        font-size: 18px;
    }
}

/* Media Query for 768px to 1024px Devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .service-grid{
        /* width: 46%; */
        height: 400px;
    }

    .service-grid h4{
        font-size: 24px;
    }
}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {
    .service-grid{
        width: 30%;
    }
    .service-grid h4{
        font-size: 20px;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {
    .service-grid h4{
        font-size: 22px;
    }
}