/* Impact Number Section Copy By Work Section */
/* Work Section */
.ab-works {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.ab-work-para-wrap {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    gap: 25px 100px;
    margin-bottom: 60px;
}

.ab-work-title {
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.ab-work-title h2 {
    font-weight: 600;
    font-size: 60px;
}

.ab-work-para {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.image-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    gap: 25px 100px;
}

.image {
    width: 50%;
    height: auto;

}

.image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.counters {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px 80px;
}

.count-wrap {
    width: 43%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.count-wrap h3 {
    font-size: 42px;
    font-weight: 600;
}

.count-wrap p {
    font-size: 16px;
}







/* Media Queries Css Started Here */

/* @media (min-width: 499px) and (max-width: 768px) { */
@media (max-width: 768px) {
    .ab-work-title h2{
        font-size: 36px;
    }

    .count-wrap h3 {
        font-size: 26px;
    }

    .ab-work-para-wrap {
        justify-content: start;
        margin: 0;
    }

    .ab-work-title,
    .ab-work-para {
        width: 100%;
    }

    .counters{
        gap: 40px;
    }

    .count-wrap{
        width: 40%;
        align-items: start;
    }

    .image-counter{
        gap: 20px 40px;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 768px) and (max-width: 1024px) {

    .ab-work-title,
    .ab-work-para {
        width: 60%;
    }

    .count-wrap {
        width: 43%;
        align-items: start;
    }

    .ab-work-para-wrap {
        justify-content: start;
        margin: 0;
    }

    .ab-work-title h2 {
        font-size: 45px;
    }

    .count-wrap h3 {
        font-size: 32px;
    }

    .counters {
        gap: 40px;
    }
}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {
    .count-wrap {
        width: 40%;
    }

    .ab-work-title,
    .ab-work-para {
        width: 44%;
    }

    .count-wrap h3 {
        font-size: 38px;
    }

    .ab-work-title h2 {
        font-size: 58px;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {
    .count-wrap {
        width: 42%;
    }

    .ab-work-title,
    .ab-work-para {
        width: 45%;
    }
}