/* Footer Section */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}

footer a {
    font-size: 13px;
    color: #222;
}

footer img {
    width: 160px;
    height: 36px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon i {
    font-size: 20px;
    color: #465b52;
    cursor: pointer;
}


/* Media Queries Css Started Here */

/* Media Query for 499px to 768px Devices */
/* @media (min-width: 499px) and (max-width: 768px) { */
@media (max-width: 768px) {
    footer{
        flex-direction: column;
        gap: 20px;
    }
}

/* Media Query for 768px to 1024px Devices */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {}