.awards {
    background-color: black;
    color: white;
}

.awards-img {
    width: 100%;
    height: 100%;
    padding: 10px;
}


.slider {
    margin-top: 20px;
}

.awards-img img {
    width: 100%;
    height: 100%;
}






/* Media Queries Css Started Here */

/* Media Query for 576px to 768px Devices */
@media (max-width: 575px) {
    .subtitle-wrap h2 {
        font-size: 32px;
        line-height: 39px;
    }
}

/* Media Query for 576px to 768px Devices */
@media (min-width: 576px) and (max-width: 768px) {
    .subtitle-wrap h2 {
        font-size: 36px;
        line-height: 40px;
    }
}

/* Media Query for 768px to 1024px Devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .subtitle-wrap h2 {
        font-size: 45px;
        line-height: 40px;
    }
}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {
    .subtitle-wrap h2 {
        font-size: 54px;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {}