/* Testimonials Section */
.testimonials {
    background-color: #000;
    color: white;
    justify-content: center;
}

.testimonials h2 {
    font-size: 60px;
    font-weight: 600;
    margin: 0px auto 60px auto;
    text-align: center;
}

.testimonial-content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}

.test-left {
    height: 450px;
    width: 450px;
}

.test-left img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}




/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    width: 60%;
}

/* Slides */
.mySlides {
    /* display: none; */
    padding: 80px;
    text-align: center;
}



/* Next & previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    right: 60px;
    bottom: 0;
    margin-top: -142px;
    padding: 16px;
    color: white;
    border: 1px solid;
    border-radius: 50%;
    font-size: 20px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-top: -142px;
    padding: 16px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Add a background color to the active dot/circle
.active, .dot:hover {
  background-color: #717171;
} */

/* Add an italic font style to all quotes */
q {
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
}

/* Add a blue color to the author */
.author {
    color: #065b69;
    font-weight: 800;
    font-size: 16px;
}



/* Media Queries Css Started Here */

/* Media Query for 499px to 768px Devices */
@media (min-width: 390px) and (max-width: 768px) {
    .testimonial-content-img {
        flex-direction: column;
        gap: 10px;
    }

    .mySlides {
        padding: 10px;
    }

    .test-left {
        width: 100%;
    }

    .testimonials h2 {
        font-size: 36px;
        margin-bottom: 20px;
        text-align: start;
    }

    q {
        font-size: 20px;
    }

    .slideshow-container {
        width: 100%;
    }

    .prev,.next{
        font-size: 10px;
    }
}

/* Media Query for 768px to 1024px Devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .testimonials h2 {
        font-size: 45px;
    }

    q {
        font-size: 24px;
    }

    .mySlides {
        padding: 10px;
    }
}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {
    .testimonials h2 {
        font-size: 54px;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {}