@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 54px;
    line-height: 1.2;
}

h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.25;
}

h3 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.3;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
}

span {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.6;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

q {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.6;
}

.section-p1 {
    padding: 80px 150px;
}


.section-mw {
    max-width: 1600px;
    width: 100%;
}

/* Fade In Up Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px); /* start 40px lower */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* end in normal position */
  }
}

.fade-in-up {
  /* animation: fadeInUp 0.8s ease-out forwards; */
  animation: fadeInUp 1.5s ease-out forwards;
}




/* Media Queries Css Started Here */
/* Media Query for 576px to 768px Devices */
@media (max-width: 575px) {
    .section-p1 {
        padding: 40px 20px;
    }

    h1 {
        font-size: 28px;
        line-height: 1.1;
    }

    h2 {
        font-size: 32px;
        line-height: 1.15;
    }

    h3 {
        font-size: 24px;
        line-height: 1.2;
    }

    span {
        font-size: 28px;
        line-height: 1.35;
    }

    q {
        font-size: 18px;
        line-height: 1.35;
    }

    h4{
        line-height: 1.25;
    }

    p{
        line-height: 1.35;
    }
}

/* Media Query for 576px to 768px Devices */
@media (min-width: 576px) and (max-width: 768px) {
    .section-p1 {
        padding: 40px 20px;
    }

    h1 {
        font-size: 44px;
        line-height: 1.15;
    }

    h2 {
        font-size: 42px;
        line-height: 1.2;
    }

    h3 {
        font-size: 26px;
        line-height: 1.25;
    }

    h4{
        line-height: 1.3;
    }

    p{
        line-height: 1.4;
    }

    span {
        font-size: 32px;
        line-height: 1.4;
    }

    q {
        font-size: 20px;
        line-height: 1.4;
    }
}

/* Media Query for 768px to 1024px Devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .section-p1 {
        padding: 60px 40px;
    }

    h1 {
        font-size: 46px;
        line-height: 1.15;
    }

    h2 {
        font-size: 44px;
        line-height: 1.2;
    }

    h3 {
        font-size: 28px;
        line-height: 1.25;
    }

    h4{
        line-height: 1.3;
    }

    p{
        line-height: 1.45;
    }

    span {
        font-size: 34px;
        line-height: 1.45;
    }

    q {
        font-size: 22px;
        line-height: 1.45;
    }
}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {
    .section-p1 {
        padding: 80px 60px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 34px;
    }

    span {
        font-size: 36px;
        line-height: 1.5;
    }

    q {
        font-size: 24px;
        line-height: 1.5;
    }

    p{
        line-height: 1.5;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {
    .section-p1 {
        padding: 80px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 40px;
    }

    span {
        font-size: 38px;
        line-height: 1.55;
    }

    q {
        font-size: 28px;
        line-height: 1.55;
    }

    p{
        line-height: 1.55;
    }

}