@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 50px;
    line-height: 64px;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: white;
}

h4 {
    font-size: 20px;
    color: white;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    /* margin: 15px 0 20px 0; */
}

.section-p1 {
    padding: 80px 150px;
}

.section-m1 {
    margin: 40px 0;
}

.section-mw {
    max-width: 1600px;
    width: 100%;
}




/* Media Queries Css Started Here */

/* Media Query for 576px to 768px Devices */
@media (max-width: 575px) {
    .section-p1 {
        padding: 40px 20px;
    }
}

/* Media Query for 576px to 768px Devices */
@media (min-width: 576px) and (max-width: 768px) {
    .section-p1 {
        padding: 40px 20px;
    }
}

/* Media Query for 768px to 1024px Devices */
@media (min-width: 768px) and (max-width: 1024px) {
    .section-p1 {
        padding: 60px 40px;
    }
}

/* Media Query for 1024px to 1280px Devices */
@media (min-width: 1024px) and (max-width: 1280px) {
    .section-p1 {
        padding: 80px 60px;
    }
}

/* Media Query for 1280px to 1440px Devices */
@media (min-width: 1280px) and (max-width: 1440px) {
    .section-p1 {
        padding: 80px;
    }
}