/* Media Queries Css Started Here */

/* Media Query for 1300px to 1500px Devices */
@media (min-width: 1300px) and (max-width: 1500px) {
    .image-cards {
        gap: 40px 20px;
    }

    .works {
        padding: 40px 150px;
    }

    .header {
        min-width: 1200px;
        max-width: 1500px;
        width: 90%;
        margin: 0 5%;
    }
}


/* Media Query for 999px to 1299px Devices */
@media (min-width: 999px) and (max-width: 1299px) {
    .header {
        min-width: 899px;
        max-width: 1299px;
        width: 90%;
        margin: 0 5%;
    }

    .section-p1 {
        padding: 80px 50px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .services h3 {
        font-size: 14px;
    }

    .services h2 {
        font-size: 38px;
    }

    .service-grid h4 {
        font-size: 24px;
    }

    .services-grids {
        gap: 50px 20px;
    }

    .title h2 {
        font-size: 53px;
    }

    .txt-wrap h3 {
        font-size: 30px;
    }

    .expertise-section h2 {
        font-size: 53px;
    }

    .accordion-header {
        font-size: 37px;
    }

    .image-cards {
        gap: 60px 18px;
    }

    .service-grid {
        width: 286px;
    }
}


/* Media Query for 999px to 1299px Devices */
@media (min-width: 799px) and (max-width: 998px) {
    .header {
        min-width: 699px;
        max-width: 998px;
        width: 90%;
        margin: 0 5%;
    }

    .section-p1 {
        padding: 80px 50px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .service-grid {
        width: 334px;
    }

    .services h3 {
        font-size: 14px;
    }

    .services h2 {
        font-size: 40px;
    }

    .service-grid h4 {
        font-size: 24px;
    }

    .title h2 {
        font-size: 46px;
    }

    .title {
        width: 100%;
    }

    .para {
        width: 100%;
    }

    .card-img {
        width: 344px;
        height: 297px;
    }

    .card {
        width: 48%;
    }

    .txt-wrap h3 {
        font-size: 26px;
    }

    .expertise-section h2 {
        font-size: 46px;
    }

    .accordion-header {
        font-size: 33px;
    }

}


/* Media Query for 499px to 798px Devices */
@media (min-width: 499px) and (max-width: 798px) {
    .header {
        min-width: 399px;
        max-width: 798px;
        width: 90%;
        margin: 0 5%;
    }

    .hero-content h1 {
        font-size: 37px;
    }

    .services h3 {
        font-size: 14px;
    }

    .services h2 {
        font-size: 32px;
    }

    .service-grid h4 {
        font-size: 18px;
    }

    .service-grid {
        width: 204px;
        height: 200px;
    }

    .services-grids {
        gap: 50px 10px;
    }

    .title h2 {
        font-size: 36px;
    }

    .para {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .txt-wrap h3 {
        font-size: 21px;
    }

    .expertise-section h2 {
        font-size: 36px;
    }
    .accordion-header{
        font-size: 26px;
    }

    .hover-img{
        display: none;
    }
}








/*start media query*/
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3f6f3;
        /* background-color: #065b69; */
        box-shadow: 0 40px 60px rgb(0, 0, 0)0.1;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    .navbar.active {
        right: 0px;
    }

    .navbar li {
        margin-bottom: 25px;
    }

    .mobile {
        display: flex;
    }

    .mobile i {
        color: #065b69;
        font-size: 24px;
        padding-left: 20px;
    }

    .close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #065b69;
        font-size: 24px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}