/* .breadcrumb-hero {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  // text-align: start; 
  color: #fff;
  padding: 0 100px;
  box-shadow: inset 0 150px 50px -20px rgba(0, 0, 0, 0.8);
} */